body {
    font-family: monospace;
    background: #1c1c1c;
    text-align: center;
    color:white;
    font-size: 15px;
  }
  a:link, a:visited {
    background-color: #e9e9e9;
    color: black;
    padding: 10px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 600px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 10px;
  }
  
  a:hover, a:active {
    background-color: #9b9b9b;
  }
  
  img {
    width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
  }